@tensorflow:registry=https://identy.jfrog.io/artifactory/api/npm/identy-npm/
@identy:registry=https://identy.jfrog.io/artifactory/api/npm/identy-npm/
//identy.jfrog.io/artifactory/api/npm/identy-npm/:_password=aHRBUUdGUGR6eGdpRjZx
//identy.jfrog.io/artifactory/api/npm/identy-npm/:username=thales.soyyo
//identy.jfrog.io/artifactory/api/npm/identy-npm/:email=carolina.barrero@woombatcg.com
//identy.jfrog.io/artifactory/api/npm/identy-npm/:always-auth=true

@soyyo:registry=https://pkgs.dev.azure.com/SoyYoOrg/ea7d54b7-3d7c-49e3-8188-6197eaac80d3/_packaging/SoyYo-snb-sdk-web/npm/registry/
//pkgs.dev.azure.com/SoyYoOrg/ea7d54b7-3d7c-49e3-8188-6197eaac80d3/_packaging/SoyYo-snb-sdk-web/npm/registry/:username=SoyYoOrg
//pkgs.dev.azure.com/SoyYoOrg/ea7d54b7-3d7c-49e3-8188-6197eaac80d3/_packaging/SoyYo-snb-sdk-web/npm/registry/:_password=c25jenZ4ZHhieHpxbnZ3b296NTVueDR2cXRmdGp0aWwzaXRxcWY2cXlmdHJxZ3lrZHV1YQ==
//pkgs.dev.azure.com/SoyYoOrg/ea7d54b7-3d7c-49e3-8188-6197eaac80d3/_packaging/SoyYo-snb-sdk-web/npm/registry/:email=d.rojas@accenture.com
