@identy:registry=https://pkgs.dev.azure.com/SoyYoOrg/ea7d54b7-3d7c-49e3-8188-6197eaac80d3/_packaging/SoyYo-snb-sdk-web/npm/registry/
@soyyo:registry=https://pkgs.dev.azure.com/SoyYoOrg/ea7d54b7-3d7c-49e3-8188-6197eaac80d3/_packaging/SoyYo-snb-sdk-web/npm/registry/
//pkgs.dev.azure.com/SoyYoOrg/ea7d54b7-3d7c-49e3-8188-6197eaac80d3/_packaging/SoyYo-snb-sdk-web/npm/registry/:username=SoyYoOrg
//pkgs.dev.azure.com/SoyYoOrg/ea7d54b7-3d7c-49e3-8188-6197eaac80d3/_packaging/SoyYo-snb-sdk-web/npm/registry/:_password=c25jenZ4ZHhieHpxbnZ3b296NTVueDR2cXRmdGp0aWwzaXRxcWY2cXlmdHJxZ3lrZHV1YQ==
//pkgs.dev.azure.com/SoyYoOrg/ea7d54b7-3d7c-49e3-8188-6197eaac80d3/_packaging/SoyYo-snb-sdk-web/npm/registry/:email=d.rojas@accenture.com
